@model Web.ViewModels.PullRequestViewModel

@{
    ViewBag.Title = "Projects";
}

<h2 style="margin-bottom: 15px">
    Журнал проекта @Model.Name
</h2>

<div id="scrolList">
    @Html.Partial("Items")
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

<script type="text/javascript">
    var pageValue = 1;
    var _inCallback = false;
    
    $(window).scroll(function () {
        if (!_inCallback) {
            if ($(window).scrollTop() === $(document).height() - $(window).height()) {
                _inCallback = true;
                $.post(this.url,
                    { page: pageValue },
                    function (returnedData) {
                        $("#scrolList").append(returnedData);
                        pageValue++;
                        _inCallback = false;
                    });
            }
        }
    });
</script>
