@model Web.ViewModels.PullRequestViewModel
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

@{
    ViewBag.Title = "Projects";
}

<h2 style="margin-bottom: 15px">
    Журнал проекта @Model.Name
</h2>

<div id="scrolList">
    @Html.Partial("Items")
</div>

<script type="text/javascript">
    var pageValue = 1;
    $(window).scroll(function () {
        if ($(window).scrollTop() === $(document).height() - $(window).height()) {
            $.post(this.url,
                { page: pageValue },
                function (returnedData) {
                    if (returnedData != null) {
                        $("#scrolList").append(returnedData);
                        pageValue++;
                    }
                });
        }
    });
</script>
