@model Web.Models.ResponseWrapper<Web.Models.Project>

@{
    ViewBag.Title = "Projects";
}

<h2>Проекты</h2>

<div class="row">
    @foreach (var value in Model.Values)
    {
        <div class="col-xs-6 col-md-3" style="margin-bottom: 25px">
            <div class="thumbnail">
                <img class="media-object" width="200" height="200" src="@value.Avatar" alt="">
                <div style="text-align: center; font-size: large"><a href="@Url.Action("Index", "Project", new {key = value.Key})"><h>@value.Name</h></a></div>
            </div>
        </div>
    }
</div>

