@model Web.Models.ResponseWrapper<Web.Models.Project>

@{
    ViewBag.Title = "Projects";
}

<h2>Проекты</h2>

<div class="row">
    @foreach (var value in Model.Values)
    {
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img class="media-object" src="http://zerflin.info/wp-content/uploads/2018/01/Zerflin-Social-Media-11_Twitter-Avatar.png" alt="">
                <a href="@Url.Action("Index", "Project", value)"><h>@value.Name</h></a>
            </div>
        </div>
    }
</div>

